<%- include("partials/header.ejs") %>


  <img
    src="images/highres_boat.webp"
    alt="Photo of the club boat"
    class="big-img"
  />
  <img src="images/the boat.png" alt="the boat" class="label" />
  <div class="text-body">
  <ul class="no-padding">
    <p>
      Our boat's a 24' Wellcraft that holds an operator and three divers. We
      usually launch it from the Mission Bay which gives easy access to Wreck
      Alley and the Point Loma area.
      </p>
      <p>We schedule dives through
      <a href="https://www.meetup.com/diveanimals/" target="_blank"
        >meetup.com</a
      >. Once you join the club and meetup.com you will be able to sign up for
      any of the DASC events and boat dives.
   </p>
  <h3>Boat Procedures</h3>
  <h5>What to Bring (our boat is small so less is better):</h5>
  <ul>
    <li>Lightweight mesh dive bag with your basic dive gear inside</li>
    <li>Two full tanks</li>
    <li>Water</li>
    <li>Snacks</li>
    <li>Your weights</li>
    <li>A spare towel - keep a second on shore</li>
    <li>Sunscreen, hat, and shades</li>
  </ul>
  <h5>What Not to Bring:</h5>
  <ul>
    <li>Coolers</li>
    <li>Big gear bags</li>
    <li>All of your dry clothes (they will get wet)</li>
  </ul>
  <br />
  <h5>Pre-Dive Set Up:</h5>
  <p>
    Most trips are two tank dives, and you will do your surface interval on the
    boat at the dive site - so take your meds if you need them - the boat is
    small and does bounce around!
    <span
      ><strong
        >Everything that goes on the boats will (probably) get wet</strong
      ></span
    >
    - so plan accordingly.
  </p>
  <ul>
    <li>Show up early!</li>
    <li>Put your light dive gear, snack, and water bottle in your mesh bag.</li>
    <li>
      Put your wetsuit/drysuit and booties on while you are ashore (you will
      probably get wet going to the dive site anyway)
    </li>
    <li>Assemble your BCD and place it into the boat before its launched.</li>
  </ul>
  <br />
  <h5>The Trip Out:</h5>
  <p>
    Stay low and lean into the boat, things tend to bounce so keep an eye open.
    Listen to the operator, he will tell you if you need to move forward or
    backwards in order to trim the boat. Hang on, and think SeaHunt type
    thoughts.
  </p>
  <h5>At the Dive Site:</h5>
  <p>
    If your BC is weight integrated, put air in your BC and slide it into the
    water next to the boat, secure it to the boat using the small cords. Put
    your final gear on including your fins your fins then get into the water and
    into your BC. If your BC is not weight integrated, put your weight belt on,
    put your BC on and put some air in it. Perform a rolling back entry into the
    water. Signal OK to the operator. Coming out of the water is the reverse
    process, except that if your BC is not weight integrated take your weight
    belt off in the water and slide it into the boat. Then make sure there is
    plenty of air in your BC and remove it securing it again to the boat using
    the small cords.
  </p>
  <h5>Heading Home:</h5>
  <p>
    Make sure your light dive gear is stowed properly prior to heading back,
    things bounce!
  </p>
  <h5>You are ready to book a boat dive!</h5>
  <p>
    We are using
    <a href="https://www.meetup.com/diveanimals/" target="_blank">meetup.com</a>
    for boat scheduling. Once you are DASC member and sign up for
    <a href="https://www.meetup.com/diveanimals/" target="_blank">meetup.com</a>
    you will be able to sign up for any of the DASC events and book a boat dive.
  </p>
</div>
<%- include ("partials/footer.ejs") %>
