<%- include("partials/header.ejs") %>
<img src="images/group.jpeg" alt="group photo" class="big-img" />
<img src="images/join.png" alt="join" class="label" />
<div class="text-body">
  <div>
    <p>
      Why would you not want to join this fun group! Did we mention the free air
      cards from
      <a href="https://sandiegodivers.com/" target="_blank">San Diego Divers</a
      >,
      <a href="https://www.houseofscuba.com/" target="_blank">House of Scuba</a
      >, and
      <a href="https://beyondlandadventures.com/" target="_blank"
        >Beyond Land Adventures</a
      >
      ? <br />So what are you waiting for! At $45 per year our membership is
      quite the deal.
    </p>
  </div>

  <div>
    <p>
      Complete the
      <a
        href="https://www.diveanimals.com/pdf/DASC%20Application_form_2021.pdf"
        target="_blank"
        >Application Form
      </a>
      and email it to
      <a href="mailto:treasurer@diveanimals.com">treasurer@diveanimals.com</a>
      or send by mail to the address on the form. <br />Pay for your membership
      via PalPal, check or credit card. To use credit card fill out the info on
      the application or mail your application with a check to the address on
      the form.
    </p>
  </div>
</div>

<%- include ("partials/footer.ejs") %>
