<%- include("partials/header.ejs") %>

<div id="carouselExampleIndicators" class="carousel slide big-img">
  <div class="carousel-indicators">
    <button
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide-to="0"
      class="active"
      aria-current="true"
      aria-label="Slide 1"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide-to="1"
      aria-label="Slide 2"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide-to="2"
      aria-label="Slide 3"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide-to="3"
      aria-label="Slide 4"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide-to="4"
      aria-label="Slide 5"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide-to="5"
      aria-label="Slide 6"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide-to="6"
      aria-label="Slide 7"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide-to="7"
      aria-label="Slide 8"
    ></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img
        src="images/shark.jpeg"
        class="d-block w-100"
        alt="shark and diver"
      />
    </div>
    <div class="carousel-item">
      <img src="images/starfish.jpeg" class="d-block w-100" alt="starfish" />
    </div>
    <div class="carousel-item">
      <img
        src="images/garibaldi.jpeg"
        class="d-block w-100"
        alt="garibaldi fish"
      />
    </div>
    <div class="carousel-item">
      <img
        src="images/1.jpeg"
        class="d-block w-100"
        alt="beach cleanup photo"
      />
    </div>
    <div class="carousel-item">
      <img
        src="images/2.jpeg"
        class="d-block w-100"
        alt="beach cleanup photo"
      />
    </div>
    <div class="carousel-item">
      <img src="images/cave.jpeg" class="d-block w-100" alt="cave diving" />
    </div>
    <div class="carousel-item">
      <img
        src="images/purple.jpeg"
        class="d-block w-100"
        alt="purple sea cucumber photo"
      />
    </div>
    <div class="carousel-item">
      <img
        src="images/anemone.jpeg"
        class="d-block w-100"
        alt="anemone photo"
      />
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselExampleIndicators"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselExampleIndicators"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<p class="img-description">
  Find the latest photos on
  <a href="https://www.meetup.com/diveanimals/photos/" target="_blank"
    >meetup.com</a
  >
</p>

<%- include("partials/footer.ejs") %>
