nav {
  background-color: white;
}

.dropdown-toggle {
  padding-left: 0px;
}

.dive-flg {
  padding-bottom: 5px;
}

body {
  padding-top: 57px;
  font-family: "Mukta", sans-serif;
  font-weight: 300;
  margin-top: 20px;
}

.about div {
  text-align: justify;
  margin: auto;
}

h1 {
  text-align: center;
}

.video-container {
  padding-bottom: 56.25%;
  position: relative;
  display: block;
  width: 100%;
}

footer {
  padding-top: 50px;
  color: grey;
  text-align: center;
}

.label {
  height: 2.5rem;
  display: block;
  margin: 30px auto 25px;
}

.img-description {
  text-align: center;
  margin: 20px;
}

.join-img {
  display: block;
  margin: auto;
  width: 85%;
}

.text-body {
  width: 85%;
  display: block;
  margin: auto;
}

.big-img {
  width: 85%;
  display: block;
  margin: auto;
}

.no-padding {
  padding-left: 0;
}

.carousel-item {
  height: 90vh;
}
.carousel-inner img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.donate {
  height: 34px;
  right: 12px;
  position: relative;
  border-radius: 25px;
  border: solid white;
  margin-top: 4px;
}

.donate:hover {
  border: solid #fba834;
}

a:hover {
  text-decoration: underline;
}

.dropdown button:hover {
  text-decoration: underline;
}

.dropdown button {
  font-family: "Mukta", sans-serif;
  font-weight: 300;
  padding-top: 7px;
  padding-left: 5px;
  padding-right: 5px;
  color: grey;
  position: relative;
  right: 6px;
}

header {
  font-family: "Mukta", sans-serif;
  font-weight: 300;
}

.nav-link {
  color: grey;
}

.current-page {
  color: black;
  text-decoration: underline;
  font-weight: bold;
}

.dropdown-item {
  font-weight: 300;
}

.dropdown-item:hover {
  background-color: white;
}

.logo {
  font-family: "Mukta";
  font-weight: 200;
  font-size: 1.7rem;
  font-style: italic;
  text-align: left;
}

.pay-div {
  display: flex;
  text-align: center;
  margin-top: 50px;
}

.pay-div > * {
  font-size: 1rem !important;
  margin: 0 auto;
}

.logo:hover {
  text-decoration: none;
}

@media (min-width: 992px) {
  .donate {
    margin-top: 4px;
  }

  .dropdown button {
    position: static;
  }

  .logo {
    font-size: 2rem;
  }
}

@media (max-width: 447px) {
  .video-container {
    margin-top: 30px;
  }
}
